.container {
  max-width: 1280px;
  margin: auto;
  padding: 120px 40px;
}

.section-tag {
  color: var(--primary);
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 15px;
}

.container h2 {
  font-size: 52px;
  margin-bottom: 20px;
}

.section-description {
  max-width: 760px;
  color: #666;
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 70px;
}
