---
const { label } = Astro.props;
---
<svg class="contact-cta-icon" viewBox="0 0 24 24" fill="none" aria-hidden="true"><path d="M12 3.2c-2.1 0-2.8-1-4.7-1C4.8 2.2 3 4.4 3 7.1c0 2.2 1.2 3.7 1.8 5.5.8 2.3.8 6.8 3.1 8 2.2 1.1 2-4.7 4.1-4.7s1.9 5.8 4.1 4.7c2.3-1.2 2.3-5.7 3.1-8 .6-1.8 1.8-3.3 1.8-5.5 0-2.7-1.8-4.9-4.3-4.9-1.9 0-2.6 1-4.7 1Z" /></svg>
<span class="contact-cta-label">{label}</span>
