<a class="whatsapp-float" href="https://wa.me/5491133932597?text=Hola.%20Quisiera%20hacer%20una%20consulta%20odontol%C3%B3gica." target="_blank" rel="noopener noreferrer" aria-label="Hablar por WhatsApp">
  <svg viewBox="0 0 32 32" aria-hidden="true">
    <path class="whatsapp-mark-outline" d="M16 3.5A12.5 12.5 0 0 0 5.2 22.3L3.7 28l5.9-1.5A12.5 12.5 0 1 0 16 3.5Z"></path>
    <path class="whatsapp-mark-phone" d="M11.2 9.2c.3-.1.6-.1.8.4l1 2.3c.1.3.1.5-.1.8l-.8 1c-.2.2-.1.5 0 .7.8 1.7 2.1 3 3.8 3.8.3.1.5.2.7 0l1-1.2c.2-.3.5-.3.8-.2l2.2 1c.3.2.5.3.5.6 0 .6-.3 2-1.3 2.7-.8.6-1.9.9-3.1.5-1-.3-2.2-.7-3.8-1.7-2.8-1.8-4.6-4.5-5.1-5.4-.5-.9-1.3-2.9 0-4.4.5-.5 1- .8 1.5-.9Z"></path>
  </svg>
</a>
